<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="own.jiang.mall.order.server.dao.OrderMapper">

	<insert id="insert" parameterType="map">
		INSERT INTO `t_order`
		<foreach collection="map" index="key" open="(" separator="," close=")">
			${key}
		</foreach>
		VALUES
		<foreach collection="map" item="value" open="(" separator="," close=")">
			#{value}
		</foreach>
	</insert>

	<select id="query" parameterType="own.jiang.mall.order.api.model.Order"
			resultType="own.jiang.mall.order.api.model.Order">
		SELECT * FROM t_order
		<where>
			<if test="orderId!=null and orderId!=''">
				AND ORDER_ID = #{orderId}
			</if>
			<if test="userId!=null and userId!=''">
				AND USER_ID = #{orderId}
			</if>
			<if test="orderStatusId!=null and orderStatusId!=''">
				AND ORDER_STATUS_ID = #{orderStatusId}
			</if>
			<if test="createTime!=null">
				AND CREATE_TIME = #{createTime}
			</if>
			<if test="completedTime!=null">
				AND COMPLETED_TIME = #{completedTime}
			</if>
			<if test="totalCount!=0">
				AND TOTAL_COUNT = #{totalCount}
			</if>
			<if test="actualCount!=0">
				AND ACTUAL_COUNT = #{actualCount}
			</if>
			<if test="postCount!=0">
				AND POST_COUNT = #{postCount}
			</if>
			<if test="paymentType!=null">
				AND PAYMENT_TYPE = #{paymentType}
			</if>
		</where>
	</select>

	<delete id="delete" parameterType="java.lang.String">
		delete from t_order where order_id = #{id}
	</delete>

	<!--修改-->
	<update id="update">
		UPDATE t_order
		<set>
			<foreach item="value" index="key" collection="map" separator=",">
				<if test="key != 'ORDER_ID' and value != null">
					${key}= #{value}
				</if>
			</foreach>
		</set>
		WHERE order_id = #{id}
	</update>
</mapper>
 

